body {
  background-color: #f0fff0; /* soft green to match garden */
  text-align: center;
  font-family: Georgia, serif;
}

h1 {
  color: #a2b326; /* forest green */
  margin-top: 20px;
}

img {
  width: 450px;
  height: auto;
}
